body{
    background-image: url(../archives/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(142, 142, 142, 0.358);
    padding: 30px;
    height: 50px;
}

.logo {
    height: 70px;
}

#search {
    display: flex;
}

#input-search {
    padding: 10px; 
    border: none; 
    border-radius: 20px 0 0 20px;
    font-size: 20px;
    outline: none;
}

#search-btn {
    padding: 10px 15px; 
    border: none; 
    border-radius: 0 20px 20px 0; 
    background-color:  #faca04 ; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: gray; 
}

.pokemon-container {
    gap: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    box-sizing: border-box;
    padding: 10px;
}

.pokemon-card {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.pokemon-card img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.pokemon-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.pokemon-card p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

#pagination-controls {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px 0;
}

#pagination-controls button {
    background-color: #faca04;
    border: none;
    color: white; 
    padding: 10px 20px; 
    margin: 0 10px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

#pagination-controls button:hover {
    background-color:  #c4a30d; 
}

#pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed; 
    color: #666;
}

@media (max-width: 1440px) {
    .pokemon-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media (max-width: 1024px) {
    .pokemon-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
    .pokemon-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}